$base-class: 'action-menu';

.#{$base-class} {
  &__trigger-button {
    border: 0;
    border-radius: var(--radius-3);
    background: none;
    padding: 0;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: 2px solid var(--action-primary-default);
      outline-offset: 0;
    }
  }

  &__list {
    margin: 0;
    border-radius: var(--radius-3);
    background-color: var(--picker-list-background);
    padding: 0;
    padding: var(--spacing-2);
    overflow: hidden;
    list-style: none;
  }
}
